semester-6/rsi/lab5/part2_B/client/Connected Services/TaskRef/AsyncTask.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Todos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Todos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Todo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="times" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Todo" nillable="true" type="tns:Todo" />
</xs:schema>