semester-6/rsi/lab4/WcfService2/WcfServiceClient1/Connected Services/ServiceReference1/MyStringOps1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Concat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConcatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConcatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contains">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContainsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Trim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendAccum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendAccumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppendAccumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>